@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* ================== Common codes start here =============== */
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #495057;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    color: #495057;
    font-weight: 700;
}
.all-btn{
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 25px;
    font-weight: 500;
}
section{
    padding: 100px 0;
}
.section_heading h3{
    font-size: 35px;
    color: 495057;
    font-weight: 700;
}
.section_heading .title{
    font-weight: 500;
    color: #6d7379;
}
.section_heading .description{
    width: 550px;
    margin: 0 auto;
}
/* ================== Common codes ends here =============== */

/* ================== Navbar codes start here =============== */
#header{
    background-color: #eefbfb;
}
#menubar .navbar-brand img{
    width: 200px;
}
#menubar .navbar-nav .nav-item .nav-link{
    font-size: 15px;
    color: #495057;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 25px;
    padding: 0;
    border-bottom: 1px solid transparent;
    transition: 1s;
}
#menubar .navbar-nav .nav-item .nav-link:hover{
    border-bottom: 1px solid #007cc7;
    transition: 1s;
}
#menubar .component_button .component_btn{
    background-color: #007cc7;
    border: 1px solid #007cc7;
    transition: 1s;
}
#menubar .component_button .component_btn:hover{
    background-color: transparent;
    border: 1px solid #007cc7;
    transition: 1s;
    color: #007cc7
}
/* ================== Navbar codes ends here =============== */

/* ================== Hero section codes start here =============== */
#hero_section{
    position: relative;
}
#hero_section #hero_section_text{
    padding-top: 150px;
}
#hero_section #hero_section_text .hello_pera{
    font-size: 24px;
    font-weight: 500;
    color: #6d7379;
}
#hero_section #hero_section_text h1{
    font-size: 60px;
}
#hero_section #hero_section_text .intro_pera{
    font-size: 18px;
    margin-bottom: 20px;
}
#hero_section #hero_section_text .hire-btn{
    background-color: #007cc7;
    border: 1px solid #007cc7;
    margin-right: 10px;
    transition: 1s;
}
#hero_section #hero_section_text .hire-btn:hover{
    background-color: transparent;
    color: #007cc7;
    transition: 1s;
}
#hero_section #hero_section_text .download-btn{
    background-color: #203647;
    border: 1px solid #203647;
    transition: 1s;
}
#hero_section #hero_section_text .download-btn:hover{
    background-color: transparent;
    color: #203647;
    transition: 1s;
}
#hero_section #hero_section_img img{
    width: 700px;
}
.social_icons{
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.social_icons li{
    float: left;
    list-style-type: none;
    margin-right: 15px;
    border: 2px solid #007cc7;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
    color: #007cc7;
    transition: 1s;
}
.social_icons li:last-child{
    margin-right: 0px;
}
.social_icons li i{
    font-size: 18px;
}
.social_icons li:hover{
    background-color: #007cc7;
    
    transition: 1s;
}
.social_icons li a:hover{
    color:#ffffff;
}
#hero_section .hedaer_counter{
    width:70%;
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 50px;
    padding: 15px 40px;
    background-color: #fff;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
#hero_section .hedaer_counter .counter_main span{
    font-size: 35px;
    color: #495057;
    font-weight: 500;
}
#hero_section .hedaer_counter .counter_main p{
    color: #6d7379;
}
#hero_section .hedaer_counter .counter_main{
    border-right: 1px solid #dee2e6;
}
/* ================== Hero section codes end here =============== */

/* ================== About section codes start here =============== */
#about{
    padding-top: 150px;
    background-color: #e1f1fa;
    position: relative;
    z-index: -1;
}
#about_txt{
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about_txt h3{
    font-size: 35px;
    color: 495057;
    font-weight: 700;
}
#about_txt .title{
    font-weight: 500;
    color: #6d7379;
}
#about_txt .description{
    margin-top: 20px;
    margin-bottom: 10px;
}
#about_img{
    position: relative;
    background: linear-gradient(#eefbfb, #9fecec);
}
#about_img img{
    width: 95%;
}
#about_img::before{
    position: absolute;
    content: "";
    top: -5px;
    left: -5px;
    width: 50%;
    height: 50%;
    background: #007cc7;
    z-index: -1;
}
#about_img::after{
    position: absolute;
    content: "";
    bottom: -5px;
    right: -5px;
    width: 50%;
    height: 50%;
    background: #007cc7;
    z-index: -1;
}
/* ================== About section codes end here =============== */

/* ================== Service section codes start here =============== */
#service{
    background-color: #eefbfb;
    text-align: center;
}
#service_card{
    margin-top: 50px;
}
.service_card{
    height: 450px;
    position: relative;
    display: flex;
    padding: 80px 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.single_card{
    position: relative;
    width: 325px;
    height: 180px;
    background: #4da8da;
    transition: 0.5s;
}
.single_card:hover{
    height: 450px;
}
.single_card .lines{
    position: absolute;
    inset: 0;
    background: #12232e;
    overflow: hidden;
}
.single_card .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #5bf6fc, #5bf6fc, #5bf6fc, transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}
.single_card:hover .lines::before{
    animation-play-state: running;
}
@keyframes animate {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.single_card .lines::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #203647;
}
.single_card .imgBx{
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background: #12232e;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single_card:hover .imgBx{
    top: 25px;
    width: 250px;
    height: 200px;
}
.single_card .imgBx::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%,-50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}
.single_card:hover .imgBx::before{
    animation-play-state: running;
}
@keyframes animate2 {
    0%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
}
.single_card .imgBx::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #203647;
}
.single_card .imgBx img{
    position: absolute;
    z-index: 1;
    filter: invert(1);
    opacity: 0.5;
    transition: 0.5s;
    width: 100px;
}
.single_card:hover .imgBx img{
    opacity: 1;
}
.single_card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.single_card .content .details{
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}
.single_card:hover .content .details{
    transform: translateY(0px);
}
.single_card .content .details h2{
    font-size: 20px;
    font-weight: 500;
    color: #5bf6fc;
    line-height: 1.2em;
}
.single_card .content .details p{
    color: #fff;
    font-size: 14px;
    opacity: 0;
    transition: 0.5s;
}
.single_card .content .details a{
    display: inline-block;
    padding: 8px 15px;
    background: #5bf6fc;
    color: #292929;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}
.single_card:hover .content .details p, .single_card:hover .content .details a{
    opacity: 1;
}
/* ================== Service section codes end here =============== */